/*Global palette: https://colorhunt.co/palette/e97777ff9f9ffcddb0fffad7*/

:root {
  --hard-red: #E97777!important;
  --soft-red: #FF9F9F!important;
  --hard-cream: #FCDDB0!important;
  --soft-cream: #FFFAD7!important;
}

body {
  background: var(--hard-cream);
  font-family: 'Montserrat', sans-serif;
}
